---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

><Header/>
<section>
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
      <div class="flex flex-col w-full mb-12 text-center">
        <div style="width: 600px; height: 150px;">
            <LottieAnimation src="img/limoneanimate.json" autoplay="visible" />
        </div>
        
        
        <h1 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
          Oh oh abbiamo un problema! <br class="hidden lg:block">
          Questa pagina non esiste sul sito o ha un problema!
        </h1>
  
        <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-center text-gray-500">Cercheremo di risolvere questo incoveniente se vuoi segnalacelo dal form dei contatti</p>
  
        <a class="mx-auto mt-8 text-sm font-semibold text-blue-600 hover:text-neutral-600" title="read more"> Torna alla home</a>
      </div>
    </div>
  </section>

  <Footer/>