---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Il Giardino dei Limoni B&B. - Pagina non trovata">
  <Header/>
<section>
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
      <div class="flex flex-col w-full mb-12 text-center">
        <div class="mx-auto mb-8">
            <img src="/img/logolimone.png" alt="Il Giardino dei Limoni" class="w-48 h-auto" />
        </div>
        
        <h1 class="max-w-5xl text-2xl font-body leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
          Oh oh abbiamo un problema! <br class="hidden lg:block">
          Questa pagina non esiste sul sito o ha un problema!
        </h1>
  
        <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-center text-gray-500">Cercheremo di risolvere questo incoveniente se vuoi segnalacelo dal form dei contatti</p>
  
        <a href="/" class="mx-auto mt-8 text-sm font-semibold text-blue-600 hover:text-neutral-600" title="read more"> Torna alla home</a>
      </div>
    </div>
  </section>
<Footer/>
</Layout>