---
import Lightbox from '@julian_cataldo/astro-lightbox/Lightbox.astro';
import Image from 'astro/components/Image.astro';
---

    <Lightbox />
  
  
    
       

        <div class="grid gap-4">
            <div class="some-wrapper" data-lightbox="true">
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg" alt="">
            </div>
            <div class="grid grid-cols-5 gap-4">
                <div class="some-wrapper" data-lightbox="true">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                </div>
                <div class="some-wrapper" data-lightbox="true">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
                </div>
                <div class="some-wrapper" data-lightbox="true">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
                </div>
                <div class="some-wrapper" data-lightbox="true">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
                </div>
                <div class="some-wrapper" data-lightbox="true">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
                </div>
            </div>
      
        
        
        
        

        

    </div>
  
