---
import Layout from '../layouts/Layout.astro'; 

import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro"
import { getImage } from "astro:assets";
import { Image } from "astro:assets";
import Zenzero1 from "../assets/zenzero/DSC_4176.jpg"
import myBackground from "../assets/DSC_4191.jpg"
const optimizedBackground = await getImage({src: myBackground, format: 'webp'});
---

<Layout title="Ospitalità - Il Giardino dei Limoni B&B.">
	<Header/>


	
	<section style={`background-image: url(${optimizedBackground.src});`} class="bg-center bg-gray-400 bg-blend-multiply">
		<div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
			<h1 class="mb-4 text-6xl font-extrabold font-pd tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Camere & Appartamenti</h1>
			<p class="mb-8 text-lg font-sans text-gray-300 lg:text-xl sm:px-16 lg:px-48">Arredate in stile Shabby Chic, dotate di tutto ciò che serve per una vacanza perfetta, scoprile e scegli quella che ti piace di più per la tua vacanza</p>
			
		</div>
	</section>

	<section class="relative z-[1] my-10">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <div class="grid grid-cols-12 gap-y-6 lg:gap-5 items-center">
			<div class="col-span-12 lg:col-span-6">
			  <div class="flex flex-col gap-4">
				<p class="text-sm font-sans text-gray-400 capitalize">Suite Familiare</p>
				<h1 class="font-bold font-serif text-primary-700 text-4xl">Zenzero & bSuite</h1>
				<p class="leading-normal font-body">Spazio per tutta la famiglia e tutto ciò che ti aspetti di trovare</p>
			
				<div class="flex flex-wrap gap-4 items-center">
				  <a href="#0" class="bg-primary-700 text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700">Scopri la suite</a>
				</div>
			  </div>
			</div>
		  
			<div class="col-span-12 lg:col-span-6">
			  <figure>
				<Image class="w-full rounded-xl" data-img-light src={Zenzero1} alt="Image description">
			  </figure>
			</div>
		  </div>
		</div>
	  </section>
	
	  <section class="relative z-[1] my-10">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <div class="grid grid-cols-12 gap-y-8 lg:gap-8 items-center">
			<div class="col-span-12 lg:col-span-6 lg:order-2">
			  <div class="flex flex-col gap-4">
				<p class="text-sm text-gray-400 capitalize">Pills &amp; potions</p>
				<h1 class="font-bold text-gray-900 text-4xl">I have a dream</h1>
				<p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
			
				<div class="flex flex-wrap gap-4 items-center">
				  <a href="#0" class="bg-indigo-700 text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700">Download</a>
				  <a href="#0" class="no-underline text-indigo-700 bg-[linear-gradient(to_right,_hsl(250,84%,54%)_50%,_hsla(250,84%,54%,0.2)_50%)] bg-[length:200%_1px] bg-no-repeat bg-[100%_100%] transition-all duration-200 hover:bg-[0%_100%]">Learn more</a>
				</div>
			  </div>
			</div>
		  
			<div class="col-span-12 lg:col-span-6 lg:order-1">
			  <figure>
				<img class="w-full rounded-xl" data-img-light src="https://d3ae4wrz2ljkbq.cloudfront.net/components/img-3-2-light-1.svg" alt="Image description">
			  </figure>
			</div>
		  </div>
		</div>
	  </section>
	  
	
	<Footer />



	<style>
		.font-pd {
			font-family: 'Playfair Display Variable', serif;
		  }
		
		</style>


