---
import Layout from '../layouts/Layout.astro';

import Header from "../components/Header.astro";

import Prenotazione from '../components/Prenotazione.astro';

import Footer from "../components/Footer.astro"
---

<Layout title="Prenotazioni - Il Giardino dei Limoni B&B.">
	<Header/>
	<section class="container my-6">
		<Prenotazione/>
	  </section>
	<Footer />