---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Booking from '../components/Booking.astro';
---

<Layout title="Prenotazioni - Il Giardino dei Limoni B&B.">
	<Header/>
	<section class="container my-6">
		<div class="bg-accent rounded py-6 sm:py-8 lg:py-12 mb-10">
			<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
			  <div class="mx-auto flex max-w-xl flex-col items-center text-center">
				<p class="mb-4 font-semibold text-sec-yellow md:mb-6 md:text-lg xl:text-xl">Richiesta preventivi e disponibilità</p>
		  
				<h1 class="mb-8 text-3xl font-bold text-primary-brown sm:text-4xl md:mb-12 md:text-5xl">Il prezzo migliore lo trovi solo sul nostro sito</h1>
		  
				<div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
<p class="font-body">Prenotare da qui ti consente di parlare direttamente con noi, di dirci le tue esigenze e di ottenere il miglior prezzo che puoi trovare OnLine, compila il form qui sotto e ti forniremo le disponibilità ed il prezzo per il tuo soggiorno al Giardino dei Limoni</p>
				</div>
			  </div>
			</div>
		  </div>
		
		<Booking/>
	  </section>
	<Footer />