---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---


<Layout title="Conferma invio modulo">
    <Header/>

    <h1>Bravo hai inviato il modulo</h1>

    <Footer/>
</Layout>