

<div id="apartmentIframeAll">
    <script is:inline type="text/javascript" src="https://login.smoobu.com/js/Settings/BookingToolIframe.js"></script>
    <script is:inline>BookingToolIframe.initialize({"url": "https://login.smoobu.com/it/booking-tool/iframe/356818", "baseUrl": "https://login.smoobu.com", "target": "#apartmentIframeAll"})</script>
    </div>
    
    