<div class="w-full max-w-4xl mx-auto px-4 md:px-8 py-6">
    <div id="apartmentIframeAll" class="w-full bg-white rounded-lg shadow-sm">
        <script is:inline type="text/javascript" src="https://login.smoobu.com/js/Settings/BookingToolIframe.js"></script>
        <script is:inline>BookingToolIframe.initialize({
            "url": "https://login.smoobu.com/it/booking-tool/iframe/356818",
            "baseUrl": "https://login.smoobu.com",
            "target": "#apartmentIframeAll"
        })</script>
    </div>
</div>
    
    