---
import { Image } from "astro:assets";
import Foto1 from "../assets/DSC_4191.jpg"
import Foto2 from "../assets/DSC_4239.jpg"
import Foto3 from "../assets/DSC_4224.jpg"

---


<!-- ====== Cards Section Start -->
<section style="background-image: url('/img/limonisfondo.png');" class="bg-primary-700 bg-opacity-20 dark:bg-dark pt-10">
    <div class="container mx-auto">
       <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4 md:w-1/2 xl:w-1/3">
             <div
                class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3"
                >
                <Image
                   src={Foto2}
                   alt="Il Giardino dei limoni immagine giardino"
                   class="w-full"
                   />
                <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                   <h3>
                      <a
                         href="/ospitalità"
                         class="text-dark font-pd dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]"
                         >
                      Il Giardino
                      </a>
                   </h3>
                   <p
                      class="text-base leading-relaxed text-body-color dark:text-dark-6 mb-7"
                      >
                      Un oasi di pace in uno dei borghi medioevali più belli d'Italia
                   </p>
                   <a
                      href="/ospitalità"
                      class="inline-block py-2 text-base font-medium transition border border-primary-700 rounded-full text-body-color hover:border-primary-700 hover:bg-primary border-gray-3 px-7 hover:text-white hover:bg-primary-700 dark:border-dark-3 dark:text-dark-6"
                      >
                   Scoprilo
                   </a>
                </div>
             </div>
          </div>
          <div class="w-full px-4 md:w-1/2 xl:w-1/3">
             <div
                class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3"
                >
                <Image
                   src={Foto1}
                   alt="Il giardino dei limoni immagine interno"
                   class="w-full"
                   />
                <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                   <h3>
                      <a
                         href="javascript:void(0)"
                         class="text-dark font-pd dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]"
                         >
                         Camere e appartamenti
                      </a>
                   </h3>
                   <p class="text-base leading-relaxed text-body-color mb-7">
                     Camere e un appartamento in stile Shabby per coccolarti durante le tue vacanze
                   </p>
                   <a
                      href="javascript:void(0)"
                      class="inline-block py-2 text-base font-medium transition border border-primary-700 rounded-full text-body-color hover:border-primary-700 hover:bg-primary border-gray-3 px-7 hover:text-white hover:bg-primary-700 dark:border-dark-3 dark:text-dark-6"
                      >
                   Scoprili tutti
                   </a>
                </div>
             </div>
          </div>
          <div class="w-full px-4 md:w-1/2 xl:w-1/3">
             <div
                class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3"
                >
                <Image
                   src={Foto3}
                   alt="La Locanda delle Stelle Suvereto"
                   class="w-full"
                   />
                <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                   <h3>
                      <a
                         href="javascript:void(0)"
                         class="text-dark font-pd dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]"
                         >
                      "La locanda delle stelle"
                      </a>
                   </h3>
                   <p class="text-base leading-relaxed text-body-color mb-7">
                     Scopri i sapori e i profumi della Costa degli Etruschi alla tavola del nostro ristorante
                   </p>
                   <a
                      href="javascript:void(0)"
                      class="inline-block py-2 text-base font-medium transition border border-primary-700 rounded-full text-body-color hover:border-primary-700 hover:bg-primary border-gray-3 px-7 hover:text-white hover:bg-primary-700 dark:border-dark-3 dark:text-dark-6"
                      >
                   Scoprilo
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- ====== Cards Section End -->


 <style>
   .font-pd {
       font-family: 'Playfair Display Variable', serif;
     }
   
   </style>
   