
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="flex font-serif justify-center items-center text-3xl font-semibold text-primary-brown dark:text-white">
            
            Il Giardino dei Limoni B&B    
        </a>
        <p class="my-4 text-gray-500 dark:text-gray-400 text-sm">Ospitalità a Suvereto nella Costa degli Etruschi</p>
        <ul class="flex flex-wrap justify-center items-center mb-4 text-primary-700 dark:text-white">
            <li>
                <a href="/" class="mr-4 hover:underline md:mr-6 font-['kreon']">Home</a>
            </li>
            <li>
                <a href="/struttura" class="mr-4 hover:underline md:mr-6 font-['kreon']">Ospitalità</a>
            </li>
            <li>
                <a href="/giardino" class="mr-4 hover:underline md:mr-6 font-['kreon']">Il Giardino</a>
            </li>
            
            <li>
                <a href="/contatti" class="mr-4 hover:underline md:mr-6 font-['kreon']">Contatti</a>
            </li>
            
        </ul>
        <span class="text-sm font-['kreon'] text-gray-500 sm:text-center dark:text-gray-400">© 2021-2022 <a href="#" class="hover:underline">Il Giardino dei Limoni™</a>. All Rights Reserved.</span>
        <span class="text-sm font-['kreon'] text-gray-500 sm:text-center dark:text-gray-400">| Made whit ❤️ by <a href="#" class="hover:underline">magiaslab.com™</a></span>

    </div>
  </footer>


 