---
import { Image } from "astro:assets";
import Foto1 from "../assets/DSC_4143.jpg"
import Foto2 from "../assets/DSC_4250.jpg"
---

<section class="bg-primary-980 dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-900 dark:text-white font-serif">Il Giardino dei Limoni <br/> Il B&B per le tue vacanze nella Costa degli Etruschi</h2>
            <p class="mb-4 font-body ">Un oasi di pace al centro della <span class="font-bold">Costa degli Etruschi,</span> in uno dei borghi più belli e suggestivi della Toscana, <span class="font-bold">Suvereto.</span> Siamo esattamente al centro del borgo ma il nostro B&B ha uno stupendo giardino in cui potrai rilassarti nella <span class="font-bold">vasca idromassaggio</span>, leggere un bel libro o gustare una colazione con i prodotti tipici della nostra enogastronomia.</p>
            <p class="font-body">Una giornata in spiaggia, un percorso di trekking o tanti chilometri in bicicletta <span class="font-bold">Il Giardino dei Limoni</span> è nella posizione ideale per qualsiasi attività tu voglia fare per scoprire il nostro bellissimo territorio.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <Image class="w-full rounded-lg" src={Foto1} alt="Il giardino dei limoni terrazzo"/>
            <Image class="mt-4 w-full lg:mt-10 rounded-lg" src={Foto2} alt="Il giardino dei limoni particolare interni"/>
        </div>
    </div>
</section>



<style>
    .font-pd {
        font-family: 'Playfair Display Variable', serif;
      }
    
    </style>
    