---
---

<form  data-netlify="true" name="Modulo Prenotazione" method="POST" action="/Successo">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="nome" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Nome</label>
            <input type="text" id="first_name" name="Nome" class="bg-gray-50 border border-gray-300 text-primary-brown text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Inserisci il tuo nome" required />
        </div>
        <div>
            <label for="cognome" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Cognome</label>
            <input type="text" id="last_name" name="Cognome" class="bg-gray-50 border border-gray-300 text-primary-brown text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Inserisci il tuo cognome" required />
        </div>
        
        
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Indirizzo Email</label>
            <input type="email" id="email" name="Indirizzo_email" class="bg-gray-50 border border-gray-300 text-primary-brown text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    
        </div>
        <div>
            <label for="phone-input" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Numero di telefono:</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
            </svg>
        </div>
        <input type="text" id="phone-input" name="Numero di Telefono" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-primary-brown text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="123-456-7890" required />
    </div>
    <p id="helper-text-explanation" class="mt-2 text-sm font-body text-gray-500 dark:text-gray-400">Inserisci il numero di telefono fisso o cellulare.</p>
        </div>
    </div> 
    <div>
        <label for="countries" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Seleziona la camera o l'appartamento per cui vuoi chiedere la disponibilità'</label>
  <select id="camere" name="Camera scelta" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-sec-green focus:border-sec-green block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected>Scegli la camera</option>
    <option value="menta">Menta</option>
    <option value="rosmarino">Rosmarino</option>
    <option value="salvia">Salvia</option>
    <option value="lavanda">Lavanda</option>
  </select>
    </div>
    <div class="mt-6">
        <label for="date-ragerpicker" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Inserisci la data di arrivo e partenza</label>

<div date-rangepicker datepicker-format="dd/mm/yyyy"  datepicker-title="Data di arrivo e partenza" datepicker-buttons datepicker-autoselect-today  class="flex items-center">
    
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
           <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
      </div>
      <input  name="Data di arrivo" type="text" class="bg-gray-50 border border-gray-300 text-primary-brown text-sm rounded-lg focus:ring-sec-green focus:border-sec-green block w-full ps-10 p-2.5  dark:bg-gray-700 " placeholder="Data di arrivo">
    </div>
    <span class="mx-4 text-gray-500">to</span>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
           <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
      </div>
      <input name="Data di partenza" type="text" class="bg-gray-50 border border-gray-300 text-primary-brown text-sm rounded-lg focus:ring-sec-green focus:border-sec-green block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sec-green dark:focus:border-sec-green" placeholder="Data di partenza">
  </div>
  
  </div>

  <div class="mt-6">

    <label for="message" class="block mb-2 text-sm font-medium text-primary-brown dark:text-white">Scrivici un messaggio o richieste particolari</label>
    <textarea id="message" name="Messaggio" rows="4" class="block p-2.5 w-full text-sm text-primary-brown bg-gray-50 rounded-lg border border-gray-300 focus:ring-sec-green focus:border-sec-green dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Scrivi il tuo messaggio qui...."></textarea>
    
      </div>
  
    </div>
    <div class="flex items-start mb-6 mt-7">
        <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-sec-yellow dark:ring-offset-gray-800" required />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-primary-brown dark:text-gray-300">Accetto i <a href="#" class="text-sec-green hover:underline dark:text-blue-500">termini e condizioni</a>.</label>
    </div>
    <button type="submit" class="text-white hover:text-sec-green bg-primary-brown hover:bg-sec-yellow focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Invia la richiesta</button>
</form>
